<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>myCommunity</title>
    <script type="text/javascript" th:inline="javascript">
    	function nameCheck(){
       				var nickName=$("#nickName").val();
       				$.ajax({
    	   				url : "/users/checks",
    	   				type : "get",
    	   				data : { "nickName" : nickName},
    	   				success : function(result){
    		   				// 중복유무 출력(result=1 : 사용할수있는 아이디, 0 : 사용할수없는 아이디)
    		  	 			if(result==1){
    			  				$("#check").html("사용할 수 있는 아이디입니다.");
    			  				$("#check").css("color","green");
    			  				$("#signUpButton").attr("disabled", false);
    			  			
    		   				}else{
    			  				$("#check").html("사용할 수 없는 아이디입니다.");
    			  				$("#check").css("color","red"); 
    			  				$("#signUpButton").attr("disabled", true);
    						}
    					} 	   
       				});    	
    			}  

    </script>
</head>
<body>
   <th:block th:replace="fragments/header :: header"></th:block>
    

    <div class="container mt-5 p-5 w-50">
		<h2 style="text-align: center;">Sing Up</h2>
		
    	<form th:action="@{/users}" method="post">
        	<div class="mb-3 mt-3">
          		<label for="nickName" class="form-label">NickName :</label>
          		<input type="text" class="form-control" id="nickName" placeholder="Enter nickName" name="nickName">
          		<div class="mt-1 text-end"> 
            		<span id="check"></span>             
            		<input type="button" class="btn btn-outline-secondary btn-sm" onclick="nameCheck();" value="중복체크"></input>
          		</div>	
          		
          		<th:block th:if="${err != null}">
            		<div style="color: red;"> <SMALL> [[${err['nerr']}]]  </SMALL></div>
            	</th:block>
            	
        	</div>
        	<div class="mb-3">
          		<label for="password" class="form-label">Password :</label>
          		<input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
          		
          		<th:block th:if="${err != null}">
            		<div style="color: red;"> <SMALL> [[${err['perr']} ]] </SMALL></div>
            	</th:block>
            	
        	</div>
        	<div class="mb-3 mt-3">
            	<label for="email" class="form-label">email :</label>
            	<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
            	
            	<th:block th:if="${err != null}">
            		<div style="color: red;"> <SMALL> [[${err['eerr']} ]] </SMALL></div>
            	</th:block>
            	
        	</div>
        	<div class="mb-3 mt-3">
            	<label for="gender">Gender :</label>
            	<select id="gender" class="form-select" name="gender">
               		<option value="x">성별을 선택해주세요.</option>
               	 	<option>비밀</option>
                	<option>남</option>
                	<option>여</option>
              	</select>
              	
              	<th:block th:if="${err != null}">
            		<div style="color: red;"> <SMALL>[[${err['gerr']}]] </SMALL></div>
            	</th:block>
            	
        	</div>
        	<div class="mt-3 mb-3 text-center">
            	<button id="signUpButton" type="submit" class="btn btn-primary" disabled>Sign Up</button>
        	</div>                      
      	</form>
      	
    </div>
       
  
    <hr>
    <th:block th:replace="fragments/footer :: footer"></th:block>
    
</body>
</html>