<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <title>myCommunity</title>
</head>
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    	<div class="container mt-5">
        <div class="p-5 rounded">
            <div class="text-center">
                <h3 th:text="${board.division}"></h3>
            </div>
            <div class="d-flex justify-content-center">
            <div class="container">
            <form th:action="@{/boards/{id}(id = ${board.id})}" method="post" th:object="${board}">
            	<input type="hidden" th:field="*{id}"></input>
            	<input type="hidden" th:field="*{division}"></input>
            	<input type="hidden" name="_method" value="delete"></input>
            	<div class="text-end">
            		<input type="submit" class="btn btn-danger" value="삭제"></input>
            	</div>
            </form>
            <form th:action="@{/boards/{id}(id = ${board.id})}" method="post" th:object="${board}">
            	<input type="hidden" name="_method" value="patch"/>
            	<input type="hidden" th:field="*{id}"></input>
            	<input type="hidden" th:field="*{division}"></input>
                <div class="mb-3 mt-3">
                    <label for="title" class="form-label">Title :</label>
                    <textarea class="form-control" rows="1" th:field="*{title}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="userNickName" class="form-label">User :</label>
                    <textarea class="form-control" rows="1" th:field="*{userNickName}" readonly></textarea>
                </div>
                <div class="mb-3">
                    <label for="contents" class="form-label">내용 :</label>
                    <textarea class="form-control" rows="7" th:field="*{contents}"></textarea>
                </div>
                <div class="text-center mt-5">                
                    <input type="submit" class="btn btn-primary" value="수정"></input>
                    <a th:href="@{/boards/{division}/{id}(division = ${division}, id = ${board.id})}" class="btn btn-light">돌아가기</a>
                </div>
            </form>
            </div>
            </div>        
        </div>
    	</div>    
        
        
        
        
    <hr>
    
    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>