<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <title>myCommunity</title>
</head>
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    
    <div class="container mt-5">
        <div><br>
        	<th:block th:if="${not tit.toString().equals('인기 글')}">
	         	<div>
	            	<h3 style="color: black;">[[${tit}]]</h3>
	         	</div>
	         	<hr>
        	</th:block>
        	<th:block th:if="${tit.toString().equals('인기 글')}">
	         	<div class="mb-5">
	            	<h3 style="color: black;">🔥[[${tit}]]</h3>
	            	<hr>
	         	</div>
        	</th:block>
        	
            <th:block th:if="${not tit.toString().equals('인기 글')}">
	            <div class="container text-end mb-2">
	            	<form style="display:inline-block;" th:action="@{/boards/srt}" method="get">
	            		<input type="hidden" th:value="${tit}" name="tit"></input>
	                	<select class="form-select" id="sort" name="srt" onchange="this.form.submit()">
	                  		<option th:selected="${srt} == '최신순'">최신순</option>
	                  		<option th:selected="${srt} == '인기순'">인기순</option>
	                	</select>
	            	</form>
	        	</div>
            </th:block>
            
            <!--
				로딩
            <div id="loading">
         		<div class="d-flex justify-content-center">
  					<div class="spinner-border text-success" style="width: 3rem; height: 3rem; position: relative; z-index:100;" role="status"></div>
				</div>
    		</div>
            -->

           	<div class="container mt-3">
           		<!--	col-sm-3 mb-3
                <div class="row row-cols-sm-4">
            	-->
            	
           		<div class="row">
           		
                	<div class="col-md-auto mb-3" th:each="board : ${boardList}">    
    					<div class="card h-100" style="width:300px">						
  	         				<th:block th:each="image, index : ${thumb}" th:if="${board.id} == ${image.id}">	
  	         					<a style="text-decoration: none;" th:href="@{/boards/{division}/{id}(division = ${enDivision}, id = ${board.id}, srt = ${srt}, page = ${pagination.criteria.page})}">						
            						<img th:src="${image.contents}" class="img-thumbnail" style="width: 100%; height:250px;" th:alt="${board.id} + 'Thumbnail'">
  	         					</a>
            				</th:block>		
        					<div class="card-body">
            					<div class="text-center mb-3">
	            					<a style="text-decoration: none; color:black;" th:href="@{/boards/{division}/{id}(division = ${enDivision}, id = ${board.id}, srt = ${srt}, page = ${pagination.criteria.page})}">
	                					<h4 class="card-title" style="display: inline-block; overflow: hidden;  text-overflow: ellipsis; white-space: nowrap; width: 200px;">
	                        				[[${board.title}]]	       					
	                					</h4>     					
	                    			</a>         					
            					</div>
            					<th:block th:if="${board.modifyTime} == null">
                					<p class="card-text text-center">
                    					[[ ${board.createTime} ]]
                					</p>       
            					</th:block>
            					<th:block th:if="${board.modifyTime} != null">	
                					<p class="card-text text-center">
                    					[[ ${board.modifyTime} ]]&nbsp;(수정)
                					</p>
            					</th:block>
            					<div class="text-center">
	            					<a style="text-decoration: none; color: black;" data-bs-toggle="tooltip" title="작성 글 보러가기" th:href="@{/boards/name/{nickName}(nickName = ${board.userNickName})}">
	                					<b>[[${board.userNickName}]]</b>
	            					</a>
	            					&nbsp;&nbsp;
	            					<i data-feather="eye"></i>&nbsp;[[ ${board.hits} ]]
	                				&nbsp;&nbsp;    						
		                        	<i data-feather="message-circle"></i>&nbsp;[[ ${board.commentsCnt} ]]
		                   			<th:block th:if="${board.hits} &gt;= 100">
		                    			&nbsp;&nbsp;
	                    				<span class="badge rounded-pill bg-danger"><small>Hot</small></span>
	                				</th:block> 
            					</div>
        					</div>
        					
    					</div>
					</div>
       
                </div>
            </div>
       
			
			
  			<ul class="pagination justify-content-center">
  				
  				<th:block th:if="${pagination.prev}">
	  				<th:block th:if="${srt} == null">
		    			<li class="page-item">
		     				<a class="page-link" th:href="@{/boards/{division}(division = ${enDivision}, page = ${pagination.startPage} - 1)}" aria-label="Previous">
		        				<span aria-hidden="true"><<</span>
		      				</a>
		    			</li>
	  				</th:block>
		  			<th:block th:if="${srt} != null">
			    		<li class="page-item">
			     			<a class="page-link" th:href="@{/boards/srt(tit = ${tit}, srt = ${srt}, page = ${pagination.startPage} - 1)}" aria-label="Previous">
			        			<span aria-hidden="true"><<</span>
			      			</a>
			    		</li>
		  			</th:block>
	  			</th:block>
	  				
		    	<th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
			    	<li class="page-item mx-1" th:each="pageNum : ${#numbers.sequence(start, end)}" th:classappend="${pagination.criteria.page == pageNum} ? 'active' : ''">
			    		<th:block th:if="${srt} == null">
				    		<a class="page-link" th:href="@{/boards/{division}(division = ${enDivision}, page = ${pageNum})}" th:text=${pageNum}></a>
			    		</th:block>
			    		<th:block th:if="${srt} != null">
				    		<a class="page-link" th:href="@{/boards/srt(tit = ${tit}, srt = ${srt}, page = ${pageNum})}" th:text=${pageNum}></a>
			    		</th:block>
			    	</li>
		    	</th:block>
	    				
		    	<th:block th:if="${pagination.next}">
			    	<th:block th:if="${srt} == null">
				    	<li class="page-item">
				      		<a class="page-link" th:href="@{/boards/{division}(division = ${enDivision}, page = ${pagination.endPage} + 1)}" aria-label="Next">
				        		<span aria-hidden="true">>></span>
				      		</a>
				    	</li>
			    	</th:block>
			    	<th:block th:if="${srt} != null">
			    		<li class="page-item">
				      		<a class="page-link" th:href="@{/boards/srt(tit = ${tit}, srt = ${srt}, page = ${pagination.endPage} + 1)}" aria-label="Next">
				        		<span aria-hidden="true">>></span>
				      		</a>
				    	</li>
			    	</th:block>    				
    			</th:block>	
  			</ul>
        

     		<!--
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item mx-1"><a class="page-link" th:href="@{/boards(page=1)}"><<<</a></li>
                <li class="page-item mx-1"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item mx-1"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item mx-1"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item mx-1"><a class="page-link" href="javascript:void(0);">>>></a></li>
            </ul>
    		-->
            
            <hr>
        </div>
    </div>

    <th:block th:replace="fragments/footer :: footer"></th:block>
    
    <script>
    	$(document).ready(function() {
      		$('#loading').hide();
		});
		//https://feathericons.com/
    	feather.replace()
    </script>
    
</body>
</html>