.mode .container .table .pagination {
	background: black;
    color: white;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 6px;
    height: 50px;
    margin-bottom: 10px;
}

.light .mode {
	background: white;
    color: black;
    border-color: black;
} 

.dark-example-02-btn {
	background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}



#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#aa {
  top:50px;
  background-color: #04AA6D;
}
#bb {
  top: 110px;
  background-color: #04AA6D;
}
#cc {
  top: 170px;
  background-color: #04AA6D;
}

#dd {
  top: 230px;
  background-color: #04AA6D;
}



