<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="me-3 text-black text-center">
            <p class="text-black" style="text-align: right;">Copyright &copy; Your Website 2022</p>
        </div>
  		
  		<!-- Tooltip -->
  		<script type="text/javascript" th:inline="javascript">
	  	/*<![CDATA[*/
	  		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  				return new bootstrap.Tooltip(tooltipTriggerEl)
			})
  		/*]]>*/
  		</script>
  		
  		
  		<div class="modal fade" id="myModal">
  			<div class="modal-dialog">
    			<div class="modal-content panel-danger">
      				<!-- Modal Header -->
      				<div class="modal-header">
        				알림 창
        					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      				</div>
			      	<!-- Modal body -->
			      	<div class="modal-body">
			      		<th:block th:if="${msgm != null}">
			        		[[ ${msgm} ]]
			      		</th:block>
			      		<th:block th:if="${lmsgm != null}">
			        		[[ ${lmsgm} ]]
			      		</th:block>
			      		<th:block th:if="${errm != null}">
			        		[[ ${errm} ]]
			      		</th:block>
			      	</div>
			      	<!-- Modal footer -->
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			      	</div>
    			</div>
  			</div>
		</div>

    <!-- The SearchModal -->
    <div class="modal fade" id="search">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="text-end">
             		<button type="button" class="btn-close" data-bs-dismiss="modal" style="margin-top: 10px; margin-right: 10px;"></button>
              	</div>
              	<h4 class="modal-title" style="text-align: center;">Search</h4>
                <!-- Modal body -->
                <div class="modal-body">                	
                    <form th:action="@{/boards/search}" class="d-flex" method="get">
                        <div class="me-2">
                            <select class="form-select" name="division">
                                <option>All</option>
                                <option>여행</option>
                                <option>취미</option>
                                <option>컴퓨터</option>
                                <option>주식</option>
                                <option>자유게시판</option>
                            </select>
                        </div>
                        <input class="form-control me-2" type="text" name="search" placeholder="Search">
                        <button class="btn btn-primary" type="submit">Search</button>  
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
    </footer>
</html>