<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/boards}">
                myCommunity
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="mynavbar">
                <ul class="navbar-nav">
                	<li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/{division}(division = 'hot')}">인기글</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/{division}(division = 'travel')}">여행</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/{division}(division = 'hobby')}">취미</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/{division}(division = 'computer')}">컴퓨터</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/{division}(division = 'stock')}">주식</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/{division}(division = 'free')}">자유게시판</a>
                    </li>
                </ul>
                <ul class="navbar-nav">  	
                	<li class="nav-item">
                        <a class="nav-link" th:href="@{/users/create}" style="cursor: pointer;">Sign Up</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#signUp" style="cursor: pointer;">Sign Up</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#signIn" style="cursor: pointer;">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards/create}">Writing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#search" style="cursor: pointer;">Search</a>
                    </li>
                </ul> 
            </div>
        </div>
    </nav>
</th:block>
</html>