<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myCommunity.admin.AdminMapper">
	<select id="userList" resultType="AdminVo">
		select id, email, nickname, password, gender, auth, create_time, modify_time, delete_time
		from users
		where delete_time is null
		order by id DESC
	</select>
	<select id="boardList" resultType="AdminVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where delete_time is null
	</select>
	<select id="todayUserList" resultType="AdminVo">
		select id, email, nickname, password, gender, auth, create_time, modify_time, delete_time
		from users
		where LEFT(create_time, 10) = #{date}
		and delete_time is null
	</select>
		<select id="todayBoardList" resultType="AdminVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where LEFT(create_time, 10) = #{date}
		and delete_time is null
	</select>

</mapper>