<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myCommunity.board.BoardMapper">

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into boards (title, contents, user_nickname, division, create_time)
		values (#{title}, #{contents}, #{userNickName}, #{division}, #{createTime})
	</insert>
	
	<update id="update">
		update boards
		set title=#{boardVo.title},
		contents=#{boardVo.contents},
		modify_time=#{boardVo.modifyTime}
		where id = #{id}
	</update>
	
	<update id="delete">
		update boards
		set delete_time=#{boardVo.deleteTime}
		where id = #{id}
	</update>
	
	<update id="userDelete">
		update boards
		set delete_time=#{boardVo.deleteTime}
		where user_nickname = #{nickName}
	</update>
	
	<update id="hitsUp">
		update boards
		set hits = hits + 1
		where id = #{id}
	</update>
	
	<select id="findById" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where id = #{id} and delete_time is null
	</select>
	
	<select id="findByName" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where user_nickname = #{nickName} and delete_time is null
	</select>
	
	<select id="findAll" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where delete_time is null
		order by hits DESC
	</select>
	<select id="findAllHot" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where delete_time is null
		and hits > 50
		order by hits DESC
	</select>
	<select id="findAllTravel" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = '여행' and delete_time is null
		order by id DESC
	</select>
	<select id="findAllHobby" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = '취미' and delete_time is null
		order by id DESC
	</select>
	<select id="findAllComputer" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = '컴퓨터' and delete_time is null
		order by id DESC
	</select>
	<select id="findAllStock" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = '주식' and delete_time is null
		order by id DESC
	</select>
	<select id="findAllFree" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = '자유게시판' and delete_time is null
		order by id DESC
	</select>
	
	<select id="boardHits" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = #{division} 
		and delete_time is null
		order by hits DESC
	</select>
	
	<select id="boardRecen" resultType="BoardVo">
		select id, title, contents, user_nickname, division, hits, create_time, modify_time, delete_time
		from boards
		where division = #{division} 
		and delete_time is null
		order by id DESC
	</select>
	

	


</mapper>