<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myCommunity.login.LoginMapper">
	<select id="loginConfirm" resultType="LoginVo">
		select id, nickname, password, auth, modify_time, delete_time
		from users
		where nickname = #{id} 
		and password = #{pwd}
		and delete_time is null
	</select>

</mapper>